.product-list-section ul li {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    gap: 10px;
}

.product-list-section ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 0;
}

.Home-Page-Product-title {
    color: #292b2c;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 35px;
    position: relative;
}

.Home-Page-Product-title::before {
    content: "";
    position: absolute;
    left: 49%;
    width: 50px;
    height: 1px;
    background-color: #FF324D;
    bottom: -15px;
    right: 0;
}

.product-list-section {
    padding: 35px;
}

h2.price {
    color: #FF324D;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}

.product-list-section a {
    color: #292b2c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.product-list-section ul li img {
    width: 100%;
}
@media (max-width:425px) {
    .product-list-section ul {

        grid-template-columns: auto;
        justify-items: center;

    }

    .product-list-section {
        padding: 35px 10px;
    }

    .Home-Page-Product-title::before {
        left: 44%;
    }
}

/* @media (max-width: 375px){
.product-list-section ul li {
    max-width: 354px;
}
} */